body {
	background:white;		
	text-align: left;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:18px;
	margin:0;
	padding: 0;
	height:100%;
	width:100%;
}

#container1 {
	width: 100%;
	margin: 0 auto;padding-top:50%;
	border: 1px solid #ccc;
	background-repeat: no-repeat;
	background-image: url("headimage1.jpg");
	background-position: 50% bottom;
	background-size: contain;
}