body {
	background:white;		
	text-align: left;
	font-family: 'Lato', sans-serif;
	font-size:18px;
	line-height: 1.2;
	margin:0 auto;
	padding: 0;
	height:100%;
	width:100%;
}

body h1 {
	font-family: 'Merriweather', serif;
	color: #046C8B;
	padding-left: 50px;
}

body h2{
	font-family: 'Lato', sans-serif;
	padding-left: 50px;
}

p {
	padding-left: 50px;
}

iframe {
	margin:0;
	padding:0;
}


#container1 {
	width: 99.9%;
	height: 70%;
	margin: 0 auto;
	padding-top: 10%;
	border: none;
	background-repeat: no-repeat;
	background-image: url("headimage1.jpg");
	background-position: 50%;
	background-size: cover;
}

#container1 p {
	color: white;
	font-family: 'Merriweather', serif;
	font-size: 70px;
	margin: 5%;
	padding-bottom: 15%;

}

#container1b {
	width: 100%;
	height: 40%;
	margin: 0 auto;
	padding-top: 15%;
	border: none;
	background-repeat: no-repeat;
	background-image: url("Location1.jpg");
	background-position: 50% 50%;
	background-size: cover;
}


#container2 {
	width: 99.9%;
	height: 30%;
	margin: 0 auto;
	padding-top: 10%;
	border: none;

}

#container3 {
	width: 80%;
	height: 40%;
	margin: 0 auto;
	padding-top: 20%;
	border: none;
	background-repeat: no-repeat;
	background-image: url("test3.png");
	background-position: 50% 50%;
	background-size: contain;
}